!!! 5
%html
  %head
    %title public scoreboard
  %body
    %h1 defcon ctf quals public scoreboard
    %h2 live from my fists to your face!!!
    %ul
      %li 
        %a{href: '/leaderboard'} leaderboard
      %li solutions
      %li 
        %a{href: '/answers'} answers
