!!! 5
%html
  %head
    %title legitbs 2014
    %link{rel: 'stylesheet', href: 'index.css'}
  %body
    .container
      %h1 2014
    .footer
      %p.lefty Legitimate Business Syndicate
      %p.righty 
        Picture by
        %a{href: 'http://www.flickr.com/photos/neil_weightman/472424461/'}
          Neil Weightman
      %br.clear
